*{
    margin: 0px;
    padding: 0px;
}

.nav-item a{
   
    color: white;
}


.mainPic img{
height: auto;
width: 100%;
}

.email{
    background-color: black;
    color: white;
    font-size: 15px;
    height: 100px;
    width: 100%;
}
.mainText1{
   
    height: auto;
    width: 100%;
    color: black;
    font-size: 18px;
}
.mainText1 p{
    color: black;
}
.mainText2{
    background-color: black;
    height: auto;
    width: 100%;
    color: white;
    font-size: 18px;
   

}


#git,#linkedin,#instagram{
    height: 25px;
    width: 25px;
}


footer .row{
    background-color: rgb(39, 39, 61);
    height: 300px;
    
}
footer .col .footerTitle{
    font-weight: 900;
    font-size: 20px;
    padding: 30px;
    color: white;
}
footer .col .footerBody a, p{
    text-decoration: none;
    color:white;
}
footer .col .footerBody{
    padding-right: 20px;
}




/* react.html
========================= */
.reactText{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
.reactText p{
    color: black;
    text-align: right;
}
#react00{
    height: 500px;
}
#text{
    border: 2px solid rgb(190, 186, 186);
    margin: 10px;
   height: 100px;
    width: 525px;
    overflow-x: scroll;
    border-radius: 10px
}
#name-email{
    border: 2px solid rgb(190, 186, 186);
    margin: 10px;
   height: 50px;
    width: 250px;
    border-radius: 10px
}
.reactText h3{
    color: rgb(45, 147, 219);
  
}


/* responsive.html
========================= */
.textGuide a{
    color: black;
text-decoration: none;
}
/*media print
========================*/
@media print{
    nav, footer, form, #react00{
        display: none;
    }
}